$colorMalibu: #52bfff;
$colorBoulder: #7a7a7a;
$colorMinrShaft: #313131;
$colorAlto: #d9d9d9;
$colorWhite: #fff;
$colorAquamarine: #52ffbf;
$colorAliceBlue: #f8fcff;
$colorCatskillWhite: #e2edf3;
$colorRockBlue: #98b6c9;
$colorSmalt: #023994;
