@import './components/all';
@import './fonts';
@import './libs/normalize';
@import './variables';
@import './mixins';

body {
  @include fzRem(18px);
  font-family: 'Gotham Pro', sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 26px;
  background-color: rgb(255, 255, 255);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2 {
  @include fzRem(36px);

  font-weight: 700;
  line-height: 46px;
  text-align: center;
  color: $colorMalibu;
}

h1 {
  @include fzRem(44px);
  // @include lineHeight(60px, 44px);
  font-weight: 700;
  line-height: 1.36em;
  color: #313131;
}

ol,
ul,
a {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: $colorBoulder;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.inner-container {
  max-width: 1140px;
  margin: 0 auto;
}

.btn {
  background-color: transparent;
  cursor: pointer;
  height: 50px;
}
